body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
li.ordering-elements:active {
  cursor: all-scroll;
  /** Define arrowhead **/
}
li.ordering-elements
{
  border: 1px solid #aaaaaa;
  max-width: 400px;
  background-color: #eeeeee;
  padding: 3px;
  margin: 2px;
}
li.ordering-elements:hover {
  cursor: grab;
  /** Define arrowhead **/
}